/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
    font-family: 'RobotoThin';
    src: url('Roboto-Thin-webfont.eot');
    src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Thin-webfont.woff') format('woff'),
         url('Roboto-Thin-webfont.ttf') format('truetype'),
         url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}


body, html {
  margin: 0;
/*  background-image: url(/assets/pattern.png);
  background-repeat: repeat;*/
  background-color: black;
}

h1 {
  font-family: 'RobotoThin', sans-serif;
  font-size: 24px;
  color: white;
}

h2 {
  font-family: 'RobotoThin', sans-serif;
  font-size: 14px;
  color: #b0b0af;
  line-height: 16px;
}

h3 {
  font-family: 'RobotoThin', sans-serif;
  font-size: 18px;
  color: white;
}

p {
  font-family: 'RobotoThin', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

a {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
}

a:hover {
  color: #ffb800;
}

.searchbutton {
  width: 60px;
  height: 20px;
  background-color: #f4f4f4;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  font-family: 'RobotoThin', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #404040;
}

.searchbutton:hover {
  background-color: #ffb800;
}

.deletebutton {
  width: 60px;
  height: 20px;
  background-color: #f4f4f4;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  font-family: 'RobotoThin', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #404040;
  margin-bottom: 2em;
}

.deletebutton:hover {
  background-color: #ffb800;
}

input[type="submit"] {
  width: 60px;
  height: 20px;
  background-color: #f4f4f4;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  font-family: 'RobotoThin', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #404040;
  margin-bottom: 2em;
  margin-left: 2px;
}

input[type="submit"]:hover {
  background-color: #ffb800;
}

label[for="user_email"] {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
}

label[for="user_email"] {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
}

label[for="user_remember_me"] {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
}

label[for="user_password"] {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
}

label[for="user_password_confirmation"] {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
}

label[for="user_current_password"] {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
}


i {
  font-family: 'RobotoThin', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0af;
  text-decoration: none;
  text-transform: italic;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  float: left;
  width: 200%;
}


/*p .notice .alert {
  background-color: black;
}*/

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 0;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 15em;
  background-image: url(/assets/dead_header1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  top: 1em;
}

#headline {
  width: 70%;
  padding-top: 5em;
  padding-bottom: 1em;
  padding-left: 4em;
}

#header img {
  max-width: 100%;
  max-height: 100%;
}

#search_wrapper {
/*  width: 100%;*/
  background-image: url(/assets/geopattern.png);
  background-repeat: repeat;
  padding-top: 1em;
  padding-left: 4em;
  overflow-x: hidden;
}

#searchfield {
  width: 50%;
  padding-bottom: 1em;
}

.content {
  width: 100%;
  height: 100%;
/*  padding-top: 1em;
  padding-left: 4em;*/
  padding: 1em 0em 4em 4em;
}

#alertbox {
  width: 100%;
  background-color: #ff9900;
  padding: 5px 5px 5px 4em;
}

#devisewrapper {
  width: 100%;
  background-image: url(/assets/geopattern.png);
  background-repeat: repeat;
  padding-top: 1em;
  padding-left: 4em;
  padding-bottom: 4em;
}

.nav {
  padding: 1em 0em 1em 4em;
/*  background-color: #ccc;*/
  background-image: url(/assets/geopattern.png);
  background-repeat: repeat;
  width: 100%;
  height: 1em;
  top: 0;
}

.nav a {
  padding-right: 1em;
  font-size: 14px;
}


@media (max-width: 480px) {
  .nav {
    padding: 1em 0em 1em 1em;
    background-image: url(/assets/geopattern.png);
    background-repeat: repeat;
    width: 100%;
    height: 1em;
    top: 0;
  }

  #header {
    width: 100%;
    height: 15em;
    background-image: url(/assets/dead_header1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    top: 1em;
    margin-bottom: -1em;
  }

  #search_wrapper {
    /*  width: 100%;*/
    background-image: url(/assets/geopattern.png);
    background-repeat: repeat;
    padding-top: 1em;
    padding-left: 1em;
    overflow-x: hidden;
  }

  #searchfield {
    width: 100%;
    padding-bottom: 1em;
    margin: 0 auto;
  }

  .content {
    width: 100%;
    height: 100%;
    /*  padding-top: 1em;
    padding-left: 4em;*/
    padding: 1em 0em 4em 1em;
  }

  #devisewrapper {
    width: 100%;
    background-image: url(/assets/geopattern.png);
    background-repeat: repeat;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 4em;
  }

  #alertbox {
    width: 100%;
    background-color: #ff9900;
    padding: 5px 5px 5px 1em;
  }

}